<ul class="nav nav-pills nav-stacked">
{% for post in site.posts %}
	{% capture the_year %}
		{{ post.date|date:"%Y" }}
	{% endcapture %}
	{% capture page_year %}
		{{ page.name }}
	{% endcapture %}

	{% if the_year == page_year %}
		{% capture the_month %}
			{{ post.date|date:"%B" }}
		{% endcapture %}
		{% capture previous_month %}
			{{ previous_post.date|date:"%B" }}
		{% endcapture %}
		
		{% if the_month != previous_month %}
      {% assign month_changed = true %}
    {% else %}
      {% assign month_changed = false %}
    {% endif %}
		{% if month_changed %}
      <h2>{{ the_month }} {{ page.name }}</h2>
      <hr>
    {% endif %}
		<li>
			<a href="{{ post.url }}" title="{{ post.title }}"><h3>{{ post.title }}<span class="pull-right">{{ post.date | date:"%Y-%m-%d" }}</span></h3></a>
		</li>
		{% assign previous_post = post %}
	{% endif %}
{% endfor %}
</ul>